
::-webkit-scrollbar {
	width: 0px;
}

/*For tags*/
h1,h2,h3 {
	color: #585656;
}

body {
	height: 100vh;
	background-color: #E9E9E9 !important;
}

a{
	width: 100%;
	height: 100%;
	padding: 10px !important;
	color: #fff !important;	
	text-decoration: none !important;
	letter-spacing: 1px;
	font-size: 1.4em !important;
	text-transform: uppercase;
}

span {
	font-size: 2em;
}

li {
	padding: 10px;
}

li:hover {
	border-bottom: solid 2px #fff !important;
	background-color: #5D5D5D ;
	transition: 0.2s;
}

button {
	background-color: #393939;
	border-radius: 50% !important;
	width: 60px;
	height: 60px;
	outline: none;
	margin-top: 15px !important;
	margin-left: 10px !important;
	transition: 0.4s !important;
}

img {
	max-height: 250px;
}

button i {
	color: #fff;
	font-size: 27px;
	transition: 0.2s;
}

button:hover {
	background-color: grey;
	border-color: #fff;
	transition: 0.2s;
}

/*Tags end*/

/*Navbar section*/

.navbar {
	width: 220px;
	margin-left: -220px;
	transition: 0.4s;
	overflow: scroll;
}

.navbar-dark .navbar-nav .nav-link.active {
	background-color: #5D5D5D;
	border: solid 2px #474747 !important;
	transition: 0.2s;
}

.dropdown-item {
	font-size: 1.2em !important;
}
.openn {
	margin-left: 0px;
	transition: 0.4s;
}

.butopen {
	margin-left: 190px !important;
	transition: 0.4s !important;
}

.dropdown-menu {
	background-color: #393939 !important;
	transition: 0.5s;
}

.dropdown-menu li a:hover {
	background-color: transparent;
	transition: 0.2s;
}

.underdrop {
	margin-top: 230px;
}

/* Navbar end */

/*Section*/

.divide {
	margin-top: 50px;
	margin-bottom: 50px;
}

.content {
	transition: 0.4s !important;
}

.contmove {
	margin-left: 230px;
	transition: 0.4s !important;
}

/*Section ends*/
